<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financeiro - EasyAdmin</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div class="container">
        <!-- Barra de navegação lateral -->
        <nav class="sidebar">
            <div class="sidebar-header">
                <h2>EasyAdmin</h2>
            </div>
            <ul>
                <li><i class="fas fa-home"></i> <a href="../home/home.html">Home</a></li>
                <li><i class="fas fa-box"></i> <a href="../produto/cadastroProduto.html">Cadastro de Produtos</a></li>
                <li><i class="fas fa-shopping-cart"></i> <a href="../venda/cadastroVendas.html">Cadastro de Vendas</a></li>
                <li><i class="fas fa-file-invoice-dollar"></i> <a href="financeiro.html">Financeiro</a></li>
                <li><i class="fas fa-chart-bar"></i> <a href="../estatistica/estatistica.html">Estatística</a></li>
                <li class="logout"><i class="fas fa-sign-out-alt"></i> <a onclick="window.location.href='index-login/index.html'">Logout</a></li>
            </ul>
        </nav>

        <!-- Área principal -->
        <div class="main-content" id="app">
            <header class="header">
                <div class="search-bar">
                    <input type="text" placeholder="Busca: venda, produto, lançamento financeiro">
                </div>
                <div class="user-profile">
                    <span>##</span>
                </div>
            </header>

            <!-- Área de conteúdo principal -->
            <div class="content">
                <header class="titulo">
                    <h1>Lançamento Financeiro</h1>
                </header>
                <main class="main-forms">
                    <h2>Adicionar Lançamento</h2>
                    <form  @submit.prevent="salvar">
                        <div>
                            <label for="transactionDate">Data:</label>
                            <input type="date"  v-model="data_financeiro" required>
                        </div>
                        <div>
                            <label for="transactionType">Tipo de Transação:</label>
                            <select id="transactionType" v-model="tipo_transacao" required>
                                <option value="entrada">Entrada</option>
                                <option value="saida">Saída</option>
                            </select>
                        </div>
                        <div>
                            <label for="description">Descrição:</label>
                            <textarea id="description" v-model="descricao" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="amount">Valor:</label>
                            <input type="number" id="amount" v-model="valor_financeiro" step="0.01" required>
                        </div>
                        <div>
                            <label for="category">Categoria:</label>
                            <select id="category" v-model="categoria_financeiro" required>
                                <option value="alimentacao">Alimentação</option>
                                <option value="transporte">Transporte</option>
                                <option value="lazer">Lazer</option>
                                <option value="saude">Saúde</option>
                                <option value="educacao">Educação</option>
                                <option value="outros">Outros</option>
                            </select>
                        </div>
                        <div>
                            <label for="transactionId">ID Usuário</label>
                            <input type="text" id="transactionId" v-model="id_usuario" required>
                        </div>
                        <button type="submit">Salvar</button>
                    </form>

                    <h2>Lançamentos</h2>
                    <table id="financeiroTable">
                        <thead>
                            <tr>
                                <th>Número do Lançamento</th>
                                <th>Data</th>
                                <th>Tipo</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Categoria</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Lançamentos feitos aparecerão aqui -->
                             <tr v-for="financeiro in financeiros" :key="financeiro.lancamento">
                                <td>{{ financeiro.lancamento }}</td>
                                <td>{{ financeiro.data }}</td>
                                <td>{{ financeiro.tipo }}</td>
                                <td>{{ financeiro.descricao }}</td>
                                <td>{{ financeiro.valor }}</td>
                                <td>{{ financeiro.categoria }}</td>
                                <td><button @click="removerFinanceiro(financeiro.lancamento)">Remover</button></td>
                             </tr>
                        </tbody>
                    </table>
                </main>
            </div>
        </div>
    </div>
    <script type="module" src="financeiro.js"></script>
</body>
</html>
