body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

/*Index*/
header {
    background-color: #282829;
    color: white;
    text-align: center;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.header{
    display: flex;
}

.header-container h1 {
    margin: 0;
    font-size: 2.5em;
}

.header-container p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.main-index {
    margin: 20px;
    border-radius: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-forms{
    margin: 20px;
    border-radius: 5px;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.container {
    display: flex;
    height: 100vh;
}
.intro, .features, .login {
    margin-bottom: 30px;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

.login button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #3498DB;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login button:hover {
    background-color: #2980B9;
}

footer {
    background-color: #282829;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-container p {
    margin: 0;
}

/*Estilização dentro da aplicação*/
.sidebar {
    width: 250px;
    background-color: #282829;
    color: white;
    padding: 20px;
  
}

.sidebar-header {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

button{
    background-color: #2ECC71;
    color: white;
    border-radius: 5px;
    border-color: #2ECC71;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.user-profile {
    background-color: #f3f3f3;
    color: #588ee0;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

.content {
    padding: 20px;
    overflow-y: auto;
}

.notification {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.notification p {
    margin: 0;
}

.notification a {
    color: #044085;
    text-decoration: none;
    font-weight: bold;
}

.task-list {
    display: flex;
    flex-direction: column;
}

.task {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task .date {
    color: #888888;
    margin-bottom: 10px;
}

.task .task-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.task .details {
    color: #666666;
    margin-bottom: 5px;
}

.task .points {
    color: #3a9ae9;
    font-weight: bold;
    float: right;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3498DB;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#productsSoldContainer input {
    margin-bottom: 10px;
}

.titulo{
    background-color: #2980B9;
}
/*Home*/
.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.widget {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.widget h3 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/*Estatística*/
.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters input[type="date"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filters button {
    padding: 5px 10px;
    background-color: #3498DB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.statistics-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.chart-container,
.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    #app {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar li {
        justify-content: center;
    }

    #app {
        padding: 5px;
    }
}